<h1>
	What time is it?
</h1>

<span class="version">
	v2 - Rails FTW
</span>

<span class="desc">
	{{go to the admin section to add yourself to the map}}
</span>

<div id="map_container_two">
	<%= gmaps4rails(@json) %>
</div>