<h1>
	What time is it?
</h1>

<span class="version">
	v2 - Rails FTW
</span>

<span class="desc">
	{{go to the admin section to add yourself to the map}}
</span>

<div id="map_container_two">
	<%= gmaps4rails(@json) %>
</div>

<script>
	// Use current time and TimezoneOffset to determine current offset
	var currentTime = new Date();
	h = currentTime.getTimezoneOffset()/60
	// Set time offset input to offset. 
	$("input#user_time_offset").val((h < 0 ? abs(h) : parseInt("-"+h,10)))
</script>