/*
 *= require_self
 */

* {
	font-family: "Trebuchet MS";
}

h1 {
	text-align: center;
	color: #08c;
	font-size: 5em;
	margin-top: 10px;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #000;
}

span.desc {
	text-align: center;
	display: block;
	font-size: 14px;
}

span.version {
	text-align: center;
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #08c;
	margin-bottom: 10px;
}

.gmaps4rails_map, .map_container {
  width: 100%;
  height: 100%;
}

.map_container {
	padding: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#map_container_two {
	background-color: #08c;
	height: 600px;
	max-width: 1000px;
	padding: 20px;
	margin: 30px auto auto auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#new_user_form_container {
	background-color: #08c;
	width: 320px;
	padding: 20px;
	margin: auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 30px;
	color: white;
}

#new_user_form_container h3 {
	margin: 0 0 14px 0;
	text-align: center;
	font-weight: normal;
	font-size: 24px;
}

#new_user_form_container form label {
	display: inline-block;
	width: 150px;
}

#new_user_form_container form p {
	margin: 14px 0 0 0;
	text-align: center;
}

#new_user_form_container small {
	text-align: center;
	display: inline-block;
}

#new_user_form_container small a {
	color: #bbb;
}

#new_user_form_container small a:hover {
	color: #fff;
}

#new_user_form_container form input:not([type='submit']) {
	width: 150px;
}